<div  class="app">
<div class="app_first__nav">
<ul>
<li><app-link href="#" placeholder="Deliver"></app-link></li>
<li><app-link href="#" placeholder="Courier Services"></app-link></li>
<li><app-link href="#" placeholder="Food Delivery"></app-link></li>
<li><app-link href="#" placeholder="How It Works"></app-link></li>
<li><app-link href="#" placeholder="FAQs"></app-link></li>
<li><app-link href="#" placeholder="Sign In"></app-link></li>
<li><app-link href="#" placeholder="Become A Dispatcher"></app-link></li>
</ul>
</div>


</div>