<div  class="app">
<div class="app_first__nav">
<ul>

<li class="app_first__nav__deliver"><app-link icon="fas fa-truck"  href="#" placeholder="Deliver"></app-link></li>
<li><app-link  href="#" placeholder="Courier Services"></app-link></li>
<li><app-link  href="#" placeholder="Food Delivery"></app-link></li>
<li><app-link  href="#" placeholder="How It Works"></app-link></li>
<li><app-link  href="#" placeholder="FAQs"></app-link></li>
<li><app-link  href="#" placeholder="Sign In"></app-link></li>
<li><app-link  href="#" placeholder="Become A Dispatcher"></app-link></li>
</ul>
</div>
<div class="app_second__nav">
  <ul>
    <li>
      <app-link href="#" placeholder="Home"></app-link>
    </li>
     <li>
      <app-link href="#" placeholder="Payment Methods"></app-link>
    </li>
     <li>
      <app-link href="#" placeholder="My Orders"></app-link>
    </li>
      <li>
      <app-link class="cart" href="#" placeholder="Cart"></app-link>
    </li>
  </ul>
</div>
<div class="app_delivery">
<h3>Food Delivery Directly To Your Doorstep</h3>
<form (submit)="handleSubmit($event)">

</form>
</div>
<div class="app_restaurant_infos">
<div class="app_restaurant_info">
<img class="app_restaurant_info___img" alt="restaurant icon" src="../assets/store.png"/>
<p>Over 500 Restaurants</p>
</div>
<div class="app_restaurant_info">
<img class="app_restaurant_info___img" alt="restaurant icon" src="../assets/take-away.png"/>
<p class="app_restaurant_info__deliveries" >Over 2000 Deliveries Made</p>
</div>
<div class="app_restaurant_info">
<img class="app_restaurant_info___img" alt="restaurant icon" src="../assets/group.png"/>
<p class="app_restaurant_info__registered" >Over 500 Registered Customers</p>
</div>
</div>
</div>