<div  class="app">
<div class="app_first__nav">
<ul class="topnav">

<li class="app_first__nav__deliver active"><app-link icon="fas fa-truck"  href="#" placeholder="Deliver"></app-link></li>
<li><app-link  href="#" placeholder="Courier Services"></app-link></li>
<li><app-link  href="#" placeholder="Food Delivery"></app-link></li>
<li><app-link  href="#" placeholder="How It Works"></app-link></li>
<li><app-link  href="#" placeholder="FAQs"></app-link></li>
<li><app-link  href="#" placeholder="Sign In"></app-link></li>
<li><app-link  href="#" placeholder="Become A Dispatcher"></app-link></li>
</ul>
</div>
<div class="app_second__nav">
  <ul>
    <li>
      <app-link href="#" placeholder="Home"></app-link>
    </li>
     <li>
      <app-link href="#" placeholder="Payment Methods"></app-link>
    </li>
     <li>
      <app-link href="#" placeholder="My Orders"></app-link>
    </li>
      <li>
      <app-link class="cart" href="#" placeholder="Cart"></app-link>
    </li>
  </ul>
</div>
<div class="app_delivery">
<h3>Food Delivery Directly To Your Doorstep</h3>
<form (submit)="handleSubmit($event)">
<div class="select">
<app-select [options]="city"></app-select>
<app-select [options]="area"></app-select>
<button class="app_delivery__submit" type="submit">Find Restaurants</button>
</div>
</form>
</div>
<div class="app_restaurant_infos">
<div class="app_restaurant_info">
<img class="app_restaurant_info___img" alt="restaurant icon" src="../assets/store.png"/>
<p class="roboto">Over 500 Restaurants</p>
</div>
<div class="app_restaurant_info">
<img class="app_restaurant_info___img" alt="restaurant icon" src="../assets/take-away.png"/>
<p class="app_restaurant_info__deliveries roboto" >Over 2000 Deliveries Made</p>
</div>
<div class="app_restaurant_info">
<img class="app_restaurant_info___img" alt="restaurant icon" src="../assets/group.png"/>
<p class="app_restaurant_info__registered roboto" >Over 500 Registered Customers</p>
</div>
</div>
<p class="app_recommended_restaurants__title">Recommended Restaurants <app-link href="#" placeholder="View All Restaurants"></app-link></p>
<div class="app_recommended_restaurants">

<button class="pagination_arrow left"><i class='fas fa-angle-left'></i></button>
<div class="app_recommended_restaurants__cards">
<app-restuarant-card name="Jollof Etcetera" src="../assets/jollof.jpg"></app-restuarant-card>
<app-restuarant-card name="Jollof Etcetera" src="../assets/jollof.jpg"></app-restuarant-card>
<app-restuarant-card name="Jollof Etcetera" src="../assets/jollof.jpg"></app-restuarant-card>
<app-restuarant-card name="Jollof Etcetera" src="../assets/jollof.jpg"></app-restuarant-card>

</div>
<button class="pagination_arrow right"><i class='fas fa-angle-right'></i></button>
</div>
<div class="app_order_processes">
<h1 class="roboto">How It Works</h1>
<div class="app_order_steps">
<app-process-card instruction="Select Your Restaurant" detailedInstruction={{processDetail}}></app-process-card>
<app-process-card instruction="Select Your Desired Meal" detailedInstruction={{processDetail}}></app-process-card>
<app-process-card instruction="Get It Delivered Fast" detailedInstruction={{processDetail}}></app-process-card>
</div>
</div>
<div class="app_popular_restaurants">
<h4 class="roboto">Popular Restaurants</h4>
<div class="app_popular_restaurants_">

<button class="pagination_arrow left"><i class='fas fa-angle-left'></i></button>
<div class="app_popular_restaurants__cards">
<app-restuarant-card name="Jollof Etcetera" src="../assets/jollof.jpg"></app-restuarant-card>
<app-restuarant-card name="Jollof Etcetera" src="../assets/jollof.jpg"></app-restuarant-card>
<app-restuarant-card name="Jollof Etcetera" src="../assets/jollof.jpg"></app-restuarant-card>
<app-restuarant-card name="Jollof Etcetera" src="../assets/jollof.jpg"></app-restuarant-card>

</div>
<button class="pagination_arrow right"><i class='fas fa-angle-right'></i></button>
</div>
</div>
<div class="gidi_app">
<img class="gidi_app__mobile_app" src="../assets/mobile-app.png" alt="mobile app" />
<div class="gidi_app__info">
<app-link href="#" placeholder="Download Our App"></app-link>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas feugiat felis. Mauris lobortis nisl nec mi convallis finibus. Nulla facilisi. Donec urna orci, placerat vestibulum sapien eget, laoreet egestas elit.</p>
<a href="#"><img src="../assets/google-play-badge-en.png" alt="playstore logo" /></a>
</div>
<div class="gidi_app_detail">
<img class="gidi_app__burger" src="../assets/burger.png" alt="burger" />
</div>
</div>
<div class="app_feedback">
<h6 class="roboto">What Users Are Saying About BoxIt</h6>
<div class="app_feedback_cards">
<app-feedback feedback={{feedback}} customerName="Customer Name"></app-feedback>
<app-feedback feedback={{feedback}} customerName="Customer Name"></app-feedback>
</div>
</div>
<div class="app_footer">
<div class="app_footer_main">
<div class="app_footer__deliver">
<i class="fas fa-truck" style="font-size:50px" ></i>
<p>Deliver</p>
</div>
<div class="app_footer__first_links">
<app-link href="#" placeholder="About Box-it"></app-link>
<app-link href="#" placeholder="How it Works"></app-link>
<app-link href="#" placeholder="Safety"></app-link>
<app-link href="#" placeholder="Careers"></app-link>
<app-link href="#" placeholder="Countries"></app-link>
<app-link href="#" placeholder="FAQs"></app-link>
</div>
<div class="app_footer__second_links">
<app-link href="#" placeholder="Be a dispatcher"></app-link>
<app-link href="#" placeholder="Sign up to be a Dispatcher"></app-link>
<app-link href="#" placeholder="Requirements"></app-link>
<app-link href="#" placeholder="Driver App"></app-link>
</div>
<a class="playstore" href="#"><img src="../assets/google-play-badge-en.png" alt="playstore logo" /></a>
</div>
<div class="app_footer_sub">
<app-link href="#" placeholder="Accessiblity"></app-link>
<app-link href="#" placeholder="Terms"></app-link>
<span >&copy; 2018 Boxit</span>
</div>
</div>

</div>